
body{
    background-color: rgba(245, 248, 255, 1);
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* shared styles */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
}
.b{
    align-items: center;
}

.display-flex{
    display: flex;
}
.gray-color-1{
    color: rgba(0, 0, 0, 0.5);
}
.font-color-2{
    color: #E95A08;
}

/* header style */
.header{
    max-width: 1140px;
    margin: 30px auto;
    margin-bottom: 120px;
}
.header-container{    
    justify-content: space-between;
    align-items: center;
    
}

.list{
    gap: 4rem;
    
}

.list li{
    list-style: none;
    font-size: 1rem;
    
}
.list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
#home-icon{
    color: black;
    font-weight: bold;
}
#cart-icon{
    color: black;
    
}

/* banner style */
.banner{
    align-items: center;
    margin-bottom: 120px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5)
}
.banner img{
    width: 100%;
    
}
/* plant section style */
.plant-info{
    text-align: center;
}
.plant-img{
    width: 100%;
}
.plant-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
.plant-price{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.primary-btn{
    padding: 1.25rem 5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    text-align: center;
    width: 100%;
}
.plant-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.plant-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plant-des{
    margin-bottom: 50px;
    max-width: 800px;
    
}
.plant-info{
    justify-items: center;
}

/* responsive style for mobile devices */
@media screen and (max-width:576px) {
    .li{
        display: none;
        
    }
    
    .list{
        gap: 0;
    }
    .banner-container{
    order: 2;
    }
    .banner{
        flex-direction: column;
    }
    .plant-cart{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
        
    }
    .primary-btn{
        padding: 20px 30px;
    }
}